@font-face {
    font-family: "Neutra Text Alt";
    src: url("./typografie/NeutraText-BoldAlt.otf") format("otl");
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$blauw: #5b9bd5;
$groen: #92d051;
$grijs: #444444;
$wit: #efefef;
$paragrafen: "Montserrat", sans-serif; 
$titels: "Neutra Text Alt", sans-serif;
h1{
    font-family: $titels;
}
// index.php //
.index{
    background-color: #222;
    color: #fff;
    font-family: "Fredericka the Great", serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 1s;
  
  .hidden {
    display: none;
  }
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
  
    img {
      margin-right: auto; 
      width: 10%;
    }
  
    article {
      display: flex; 
      justify-content: flex-end; 
  
      a {
        margin-left: 20px; 
        color: $groen;
        font-family: $paragrafen;
        text-decoration: none;
      }
    }
  }
}
// home.php //
.series-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;

    .serie {
        flex: 0 0 auto;
        margin-right: 20px;

        img {
            max-width: 100px;
            height: auto;
        }
    }
}

body.home {
    main {
        .active-section, .non-active-section {
            h2 {
                margin-bottom: 10px;
            }

            .series-container {
                margin-bottom: 20px;
            }
        }
    }
}
body.login {
    h1, input, label{
    font-family: $paragrafen;
    color: $wit;
    background-color: $groen;
  }
 
  main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    p{
      text-align: center;
      align-self: center;
      padding: 0.5em;
      border-radius: 3em;
      width: 10vw;
      font-size: 1em;
    }
    .error{
      color: $blauw;
    }
    h1{
      width: min-content;
      align-self: center;
      padding: 0.3em 0.5em;
      border-radius: 3em;
    }
    form{
      width: 70vw;
      display: flex;
      justify-content:space-evenly;
      align-self: center;
      flex-direction: column;
      
      section{
        display: flex;
        justify-content: space-evenly;
        p{
          background-color: $groen;
        }
      }
      input {
        align-self: center;
        margin-bottom: 1.5em;
        padding: 0.5em;
        border-radius: 3em;
        width: 30vw;
        font-size: 1em;
        margin: 1em;
      }
      select {
        background-color: $groen;
        padding: 0.5em;
        border-radius: 3em;
        width: 30vw;
        font-size: 1em;
        margin: 1em;
      }
    }
  }
  .logo{
    height: 2em;
  }
  background-color: $grijs;

  
}